<ngb-alert [dismissible]="false">
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>


<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navbar navbar-expand-lg bg-body-primary" style="background-color: #441d0d;">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="">
		  <img src="assets/img/logo.png" alt="" width="100" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link text-white" routerLink="">Menu</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-white" routerLink="">Snack</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-white" routerLink="">Drinks</a>
			  </li>
			</ul>
			<form class="d-flex" role="search">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		  </div>
	</div>
</ul>

<p>
	<button
		type="button"
		class="btn btn-outline-primary"
		(click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
		>
		Boton 1
	</button>
	<button
		type="button"
		class="btn btn-outline-primary ms-2"
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		Boton 2
	</button>
</p>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
	<div class="card">
		<div class="card-body">Puede contraer esta tarjeta haciendo clic en un botón 2</div>
	</div>
</div>

<router-outlet></router-outlet>
